<!DOCTYPE html>
<html>
<head>
    <!-- ... -->

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body class="{{ app.request.attributes.get('_route')|replace({'/': '_'}) }}">

<!-- ... -->

{% include 'admin/nav.html.twig' %}

{# read and display several types of flash messages #}
{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


    {% block body %}{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>